<h1><%= @cocktail.name %></h1>

<% @doses.each do |dose| %>
  <li><%= dose.ingredient.name%> : <%= dose.description%> <%= link_to 'Delete', dose_path(dose), method: :delete, data: { confirm: "Are you sure ?" } %></li>
<% end %>

<div class="container">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.button :submit, class: 'btn btn-primary w-100'%>
    <%= f.input :photo, as: :file %>
  <% end %>
</div>

<%= link_to 'Go Back to Cocktails List', cocktails_path %>
